



.loginBox {
  margin-top: 60px; /* Add space for the navbar */
}

/* Loading spinner */
.spinner {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e0e0e0;
}

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
}

.loginBox h2,
.loginBox h3 {
  text-align: center;
}

.loginBox p {
  text-align: center;
  margin-bottom: 20px;
}

.userBox {
  position: relative;
}

.userInput {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.userInput:focus ~ label,
.userInput:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}


.forgotPasswordLink {
  display: block;
  margin-top: 10px;
  color: #03e9f4;
  text-align: center;
}
